<h1>Add new Product</h1>

<%= form_tag :action => 'create' do %>
<p><label for = "product_name">Title</label>:

<%= text_field 'products', 'productName' %></p>
<%= submit_tag "Create" %>

<% end -%>
<%= link_to 'Back', {:action => 'list'} %>
